*{
   margin:0; 
}

html{
    height:100%;
}

body{
    background-color:lightgrey;
    height:100%;
}

header{
    height:10px;
    background-color: red;
}

nav{
    height:10px;
    background-color: green;

}

main{
    text-align: center;
    background-color: blue;
    height:calc(100% - 75px);
}

footer{
    height:75px;
}